@import 'variables';


.container{
    padding-left: 0px!important;
    padding-right : 0px!important;
}
.banner__row img {
    width: 100%;
}

.banner__cart__product-add-item{
    position: relative;
}
.banner__row__image-banner-right-bottom img{
    margin-top: 25px;
}
.banner__row__box {
    position: absolute;
    top: 55%;
    left: 46%;
    p.top{
        color: $color-black;
        font-family: 'Pacifico', cursive;
        font-weight: bold;
        font-size: 30px;
        margin-top: 13px;
        margin-left: 4px;
    };
    p.now{
        color: #ffffff;
        color: #ffffff;
        padding: 2% 0% 0% 5%;
        background-color: #8c70ba;
        width: 106px;
        height: 40px;
        float: right;
        margin-top: -8px;
    };
    p.now:hover{
        cursor: pointer;
        color: $color-black;
    }
}

.banner__row__banner-right-bottom{
    margin-top: 28px;
    position: relative;
}

.banner__row__banner-right-top{
    position: relative;
}

.banner__row__banner-right-top-word{
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    left: 64px;
    p.small-thing{
        color: $color-font-top;
        margin-top: 11px;
    };
    p.different{
        color: $color-black;
        font-weight: bold;
        margin-left: -2px;
        margin-top: -23px;
        font-size: 23px;
    };
}

.banner__row__banner-right-bottom-word{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 4em;
    p.folio{
        color: $color-font-top;
        margin-top: 21px;
        margin-left: -15px;
    }
    
    p.backpack{
        color: $color-black;
        font-weight: bold;
        margin-top: -22px;
        font-size: 23px;
        margin-left: -15px;
    };

    p.now:hover{
        color: $color-black;
        cursor: pointer;
    }

    p.now{
        background-color: $color-hover;
        width: 108px;
        margin-left: -15px;
        margin-top: -5px;
        height: 40px;
        color: #ffffff;
        padding: 7% 0% 0% 21%;
    };
}

.banner__franco{
    margin-top: 80px;
    p.franco{
        color: #8c70ba;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        letter-spacing: 0.8px;
        margin: -7px 0px 4px 7px;
        font-weight: bold;

    };
    p.featured-items{
        font-size: 24px;
        letter-spacing: 2.3px;
        font-weight: bold;
        margin-left: 7px;
        padding-bottom: 4px;
        font-family: 'Montserrat', sans-serif;
    }
    hr{
        width: 50px;
        color: $color-hover;
        border-top: 1px solid $color-price-now;
        margin-left: 8px;
    }
}

.banner__cart{
    margin-top : 50px;
    img{
        width: 100%;
        margin-left: 8px;
    }
}

.banner__row__2 {
    margin-top: 27px;
}

.banner__cart--col-1{
    del{
        margin-top: 4px;
        margin-left: 9px;
    }
    .star-rating{
        margin-top: -10px;
        font-size: 12px;
        margin-left: 7px;
    }
    p.add-to-cart{
        position: absolute;
        background: $color-white;
        width: 117px;
        bottom: -3.5%;
        left: 5.5%;
        height: 40px;
        padding: 10px;
        font-size: 14px;
        padding-left: 15px;
    };
    p.add-to-cart:hover{
        cursor: pointer;
        color: $color-hover;
    }
    p.description{
        margin-top: 15px;
        letter-spacing: -0.2px;
        font-size: 14px;
        margin-left: 7px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }
    p.price-now{
        margin-left: 5px;
        margin-top: 3px;
    }
    .checked{
        color: $color-checked!important;
    };
    .fa-star{
        color : $color-star;
    };
}
.banner__cart--col-2{
    del{
        margin-top: 4px;
        margin-left: 9px;
    }
    .star-rating{
        margin-top: -10px;
        font-size: 12px;
        margin-left: 7px;
    }
    p.price-now{
        margin-left: 5px;
        margin-top: 3px;
    }
    p.add-to-cart{
        position: absolute;
        background: $color-white;
        width: 117px;
        font-size: 14px;
        bottom: -3.5%;
        left: 5.5%;
        height: 40px;
        padding-left: 16px;
        padding-top: 10px;
    };
    p.add-to-cart:hover{
        cursor: pointer;
        color: $color-hover;
    };
    p.description{
        margin-top: 15px;
        letter-spacing: -0.2px;
        font-size: 14px;
        margin-left: 7px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    };
    .checked{
        color: $color-checked!important;
    };
    .fa-star{
        color : $color-star;
    };
}
.banner__cart--col-3{
    del{
        margin-top: 4px;
        margin-left: 9px;
    }
    .star-rating{
        margin-top: -10px;
        font-size: 12px;
        margin-left: 7px;
    }
    p.price-now{
        margin-left: 5px;
        margin-top: 3px;
    }
    p.add-to-cart{
        position: absolute;
        background: #ffffff;
        width: 117px;
        font-size: 14px;
        bottom: -3.5%;
        left: 5.5%;
        height: 40px;
        padding-top: 10px;
        padding-left: 17px;
    };
    p.add-to-cart:hover{
        cursor: pointer;
        color: $color-hover;
    };
    p.description{
        margin-top: 15px;
        letter-spacing: -0.2px;
        font-size: 14px;
        margin-left: 7px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    };
    .checked{
        color: $color-checked!important;
    };
    .fa-star{
        color : $color-star;
    };
}
.banner__cart--col-4{
    del{
        margin-top: 4px;
        margin-left: 9px;
    }
    p.price-now{
        margin-left: 5px;
        margin-top: 3px;
    }
    .star-rating{
        margin-top: -10px;
        font-size: 12px;
        margin-left: 7px;
    }
    p.add-to-cart{
        position: absolute;
        background: #ffffff;
        width: 117px;
        bottom: -3.5%;
        left: 5.5%;
        font-size: 14px;
        height: 40px;
        padding-left: 16px;
        padding-top: 10px;
    };
    p.add-to-cart:hover{
        cursor: pointer;
        color: $color-hover;
    };
    p.description{
        margin-top: 15px;
        font-size: 14px;
        margin-left: 7px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    };
    .checked{
        color: $color-checked!important;
    };
    .fa-star{
        color : $color-star;
    };
}
.banner__cart--col--discount{
    display: inline-flex;
    p.price-now{
        font-weight: bold;
        color : $color-price-now;
    }
    del{
        color : $color-price-discount;
    }
}

.banner__bottom__slogan{
    text-align: center;
    padding-top: 80px;
    p.latest{
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        letter-spacing: 1px;
        margin-left: 20px;
        color: #8c70ba;
        font-weight: bold;
        margin-top: -1px;
    }
    h3{
        margin-top: -6px;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 2.5px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 21px;
    }
    hr{
        width: 50px;
        margin-top: 23px;
        margin-left: 49.2%;
        color: $color-hover;
        border-top: 1px solid $color-price-now;
    }
}
.banner__bottom__content{
    background-image: url("../images/background.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 710px;
    margin-top: 54px;
}

.banner__bottom__row__date{
    background-color: $color-background-date;
    width: 60px;
    height: 60px;
    padding: 6px 5px 0px 5px;
    text-align: center;
    top: 56px;
    left: 43px;
    position: absolute;
    p.day{
        font-weight: bold;
        color: $color-white;
        margin-bottom: 0px;
    };
    p.month{
        color: $color-white;
        margin-bottom: 0px;
    }
}

.banner__bottom__row__date--p{
    border: 1px solid $color-white;
}
.banner__bottom__row__description--comment{
    color: $color-banner-commernt;
    margin-left: 9px;
    display: inline-flex;
    p.heart{
        margin-left: 32px;
    };
}
.banner__bottom__row__description{
    background-color: $color-white;
    width: 102.5%;
    padding: 30px 0px 0px 20px;
    p.top{
        font-size: 17px;
        margin-left: 7px;
        margin-top: -17px;
        font-weight: bold;
    }
    p.bottom{
        font-family: 'Montserrat', sans-serif;
        margin-left: 7px;
        font-size: 14px;
    }
    p.top:hover{
        color: $color-hover;
        cursor: pointer;
    }
}

.slick-dots{
    bottom: -48px;
    left: 10px;
}

.slick-slide img{
    margin-top: 34px;
    width: 100%;
    margin-left: 8px;
}
.slick-dots li button:before {
    font-size: 12px!important;
}

.slick-dots li.slick-active button:before {
    color: $color-price-now;
    font-size: 16px!important;
}
.slick-prev:before{
    display: none;
}
.slick-next:before{
    display: none;
}


@media screen and(min-width: 1198px){
    .banner__row--image-1{
        img{
            margin-left: 7px;
            margin-top: 16px;
        }
    }    
    .banner__row--image-banner-right-bottom{
        img{
            margin-top: 1px;
            margin-left: 8px;
        }
    }
    
    .banner__row__banner-right-top{
        img{
            margin-left: 7px;
        }
    }
    .banner__row__column__2{
        margin-top: 15px;
    }
}
@media screen and (max-width : 767px){
    .banner__row__box{
        p.now{
            float: none;
        }
    }
}

@media screen and (max-width : 476px){
    .banner__row__box{
        p.top{
            font-size: 16px;
        }
    }
    .banner__row__banner-right-top{
        .banner__row__banner-right-top-word{
            p.different{
                font-size: 16px;
            }
            p.small-thing{
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width:992px){
    .slick-prev:before{
        display: block;
        color: $color-black;
    }
    .slick-next:before{
        display: block;
        color: $color-black;
    }
}

@media screen and (max-width:992px){
    .banner__cart--col-4 p.add-to-cart{
        bottom: 0%;
    }
    .banner__cart--col-3 p.add-to-cart{
        bottom: 0%;
    }
    .banner__cart--col-2 p.add-to-cart{
        bottom: 0%;
    }
    .banner__cart--col-1 p.add-to-cart{
        bottom: 0%;
    }
}


@media screen and (min-width: 993px) and (max-width: 1110px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 35px !important;
    }
}

