.container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.banner__row img {
  width: 100%;
}

.banner__cart__product-add-item {
  position: relative;
}

.banner__row__image-banner-right-bottom img {
  margin-top: 25px;
}

.banner__row__box {
  position: absolute;
  top: 55%;
  left: 46%;
}

.banner__row__box p.top {
  color: #000000;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 30px;
  margin-top: 13px;
  margin-left: 4px;
}

.banner__row__box p.now {
  color: #ffffff;
  color: #ffffff;
  padding: 2% 0% 0% 5%;
  background-color: #8c70ba;
  width: 106px;
  height: 40px;
  float: right;
  margin-top: -8px;
}

.banner__row__box p.now:hover {
  cursor: pointer;
  color: #000000;
}

.banner__row__banner-right-bottom {
  margin-top: 28px;
  position: relative;
}

.banner__row__banner-right-top {
  position: relative;
}

.banner__row__banner-right-top-word {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 64px;
}

.banner__row__banner-right-top-word p.small-thing {
  color: #4d4d4d;
  margin-top: 11px;
}

.banner__row__banner-right-top-word p.different {
  color: #000000;
  font-weight: bold;
  margin-left: -2px;
  margin-top: -23px;
  font-size: 23px;
}

.banner__row__banner-right-bottom-word {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 4em;
}

.banner__row__banner-right-bottom-word p.folio {
  color: #4d4d4d;
  margin-top: 21px;
  margin-left: -15px;
}

.banner__row__banner-right-bottom-word p.backpack {
  color: #000000;
  font-weight: bold;
  margin-top: -22px;
  font-size: 23px;
  margin-left: -15px;
}

.banner__row__banner-right-bottom-word p.now:hover {
  color: #000000;
  cursor: pointer;
}

.banner__row__banner-right-bottom-word p.now {
  background-color: #8c70ba;
  width: 108px;
  margin-left: -15px;
  margin-top: -5px;
  height: 40px;
  color: #ffffff;
  padding: 7% 0% 0% 21%;
}

.banner__franco {
  margin-top: 80px;
}

.banner__franco p.franco {
  color: #8c70ba;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  letter-spacing: 0.8px;
  margin: -7px 0px 4px 7px;
  font-weight: bold;
}

.banner__franco p.featured-items {
  font-size: 24px;
  letter-spacing: 2.3px;
  font-weight: bold;
  margin-left: 7px;
  padding-bottom: 4px;
  font-family: 'Montserrat', sans-serif;
}

.banner__franco hr {
  width: 50px;
  color: #8c70ba;
  border-top: 1px solid #8262b5;
  margin-left: 8px;
}

.banner__cart {
  margin-top: 50px;
}

.banner__cart img {
  width: 100%;
  margin-left: 8px;
}

.banner__row__2 {
  margin-top: 27px;
}

.banner__cart--col-1 del {
  margin-top: 4px;
  margin-left: 9px;
}

.banner__cart--col-1 .star-rating {
  margin-top: -10px;
  font-size: 12px;
  margin-left: 7px;
}

.banner__cart--col-1 p.add-to-cart {
  position: absolute;
  background: #ffffff;
  width: 117px;
  bottom: -3.5%;
  left: 5.5%;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  padding-left: 15px;
}

.banner__cart--col-1 p.add-to-cart:hover {
  cursor: pointer;
  color: #8c70ba;
}

.banner__cart--col-1 p.description {
  margin-top: 15px;
  letter-spacing: -0.2px;
  font-size: 14px;
  margin-left: 7px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.banner__cart--col-1 p.price-now {
  margin-left: 5px;
  margin-top: 3px;
}

.banner__cart--col-1 .checked {
  color: #face6d !important;
}

.banner__cart--col-1 .fa-star {
  color: #d1d1d1;
}

.banner__cart--col-2 del {
  margin-top: 4px;
  margin-left: 9px;
}

.banner__cart--col-2 .star-rating {
  margin-top: -10px;
  font-size: 12px;
  margin-left: 7px;
}

.banner__cart--col-2 p.price-now {
  margin-left: 5px;
  margin-top: 3px;
}

.banner__cart--col-2 p.add-to-cart {
  position: absolute;
  background: #ffffff;
  width: 117px;
  font-size: 14px;
  bottom: -3.5%;
  left: 5.5%;
  height: 40px;
  padding-left: 16px;
  padding-top: 10px;
}

.banner__cart--col-2 p.add-to-cart:hover {
  cursor: pointer;
  color: #8c70ba;
}

.banner__cart--col-2 p.description {
  margin-top: 15px;
  letter-spacing: -0.2px;
  font-size: 14px;
  margin-left: 7px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.banner__cart--col-2 .checked {
  color: #face6d !important;
}

.banner__cart--col-2 .fa-star {
  color: #d1d1d1;
}

.banner__cart--col-3 del {
  margin-top: 4px;
  margin-left: 9px;
}

.banner__cart--col-3 .star-rating {
  margin-top: -10px;
  font-size: 12px;
  margin-left: 7px;
}

.banner__cart--col-3 p.price-now {
  margin-left: 5px;
  margin-top: 3px;
}

.banner__cart--col-3 p.add-to-cart {
  position: absolute;
  background: #ffffff;
  width: 117px;
  font-size: 14px;
  bottom: -3.5%;
  left: 5.5%;
  height: 40px;
  padding-top: 10px;
  padding-left: 17px;
}

.banner__cart--col-3 p.add-to-cart:hover {
  cursor: pointer;
  color: #8c70ba;
}

.banner__cart--col-3 p.description {
  margin-top: 15px;
  letter-spacing: -0.2px;
  font-size: 14px;
  margin-left: 7px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.banner__cart--col-3 .checked {
  color: #face6d !important;
}

.banner__cart--col-3 .fa-star {
  color: #d1d1d1;
}

.banner__cart--col-4 del {
  margin-top: 4px;
  margin-left: 9px;
}

.banner__cart--col-4 p.price-now {
  margin-left: 5px;
  margin-top: 3px;
}

.banner__cart--col-4 .star-rating {
  margin-top: -10px;
  font-size: 12px;
  margin-left: 7px;
}

.banner__cart--col-4 p.add-to-cart {
  position: absolute;
  background: #ffffff;
  width: 117px;
  bottom: -3.5%;
  left: 5.5%;
  font-size: 14px;
  height: 40px;
  padding-left: 16px;
  padding-top: 10px;
}

.banner__cart--col-4 p.add-to-cart:hover {
  cursor: pointer;
  color: #8c70ba;
}

.banner__cart--col-4 p.description {
  margin-top: 15px;
  font-size: 14px;
  margin-left: 7px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.banner__cart--col-4 .checked {
  color: #face6d !important;
}

.banner__cart--col-4 .fa-star {
  color: #d1d1d1;
}

.banner__cart--col--discount {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.banner__cart--col--discount p.price-now {
  font-weight: bold;
  color: #8262b5;
}

.banner__cart--col--discount del {
  color: #999999;
}

.banner__bottom__slogan {
  text-align: center;
  padding-top: 80px;
}

.banner__bottom__slogan p.latest {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  margin-left: 20px;
  color: #8c70ba;
  font-weight: bold;
  margin-top: -1px;
}

.banner__bottom__slogan h3 {
  margin-top: -6px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2.5px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 21px;
}

.banner__bottom__slogan hr {
  width: 50px;
  margin-top: 23px;
  margin-left: 49.2%;
  color: #8c70ba;
  border-top: 1px solid #8262b5;
}

.banner__bottom__content {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 710px;
  margin-top: 54px;
}

.banner__bottom__row__date {
  background-color: #a1d1dd;
  width: 60px;
  height: 60px;
  padding: 6px 5px 0px 5px;
  text-align: center;
  top: 56px;
  left: 43px;
  position: absolute;
}

.banner__bottom__row__date p.day {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0px;
}

.banner__bottom__row__date p.month {
  color: #ffffff;
  margin-bottom: 0px;
}

.banner__bottom__row__date--p {
  border: 1px solid #ffffff;
}

.banner__bottom__row__description--comment {
  color: #dbdbdb;
  margin-left: 9px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.banner__bottom__row__description--comment p.heart {
  margin-left: 32px;
}

.banner__bottom__row__description {
  background-color: #ffffff;
  width: 102.5%;
  padding: 30px 0px 0px 20px;
}

.banner__bottom__row__description p.top {
  font-size: 17px;
  margin-left: 7px;
  margin-top: -17px;
  font-weight: bold;
}

.banner__bottom__row__description p.bottom {
  font-family: 'Montserrat', sans-serif;
  margin-left: 7px;
  font-size: 14px;
}

.banner__bottom__row__description p.top:hover {
  color: #8c70ba;
  cursor: pointer;
}

.slick-dots {
  bottom: -48px;
  left: 10px;
}

.slick-slide img {
  margin-top: 34px;
  width: 100%;
  margin-left: 8px;
}

.slick-dots li button:before {
  font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
  color: #8262b5;
  font-size: 16px !important;
}

.slick-prev:before {
  display: none;
}

.slick-next:before {
  display: none;
}

@media screen and (min-width: 1198px) {
  .banner__row--image-1 img {
    margin-left: 7px;
    margin-top: 16px;
  }
  .banner__row--image-banner-right-bottom img {
    margin-top: 1px;
    margin-left: 8px;
  }
  .banner__row__banner-right-top img {
    margin-left: 7px;
  }
  .banner__row__column__2 {
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .banner__row__box p.now {
    float: none;
  }
}

@media screen and (max-width: 476px) {
  .banner__row__box p.top {
    font-size: 16px;
  }
  .banner__row__banner-right-top .banner__row__banner-right-top-word p.different {
    font-size: 16px;
  }
  .banner__row__banner-right-top .banner__row__banner-right-top-word p.small-thing {
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) {
  .slick-prev:before {
    display: block;
    color: #000000;
  }
  .slick-next:before {
    display: block;
    color: #000000;
  }
}

@media screen and (max-width: 992px) {
  .banner__cart--col-4 p.add-to-cart {
    bottom: 0%;
  }
  .banner__cart--col-3 p.add-to-cart {
    bottom: 0%;
  }
  .banner__cart--col-2 p.add-to-cart {
    bottom: 0%;
  }
  .banner__cart--col-1 p.add-to-cart {
    bottom: 0%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1110px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 35px !important;
  }
}
/*# sourceMappingURL=banner.css.map */