@import 'variables';


.header__top {
    display: inline-flex;
    background-color: $color-background-header-footer;
    height: 46px;
    font-size: 15px;
    padding-left: 30px!important;
}
.header__top__left{
    padding-top : 12px;
    p{
        color: $color-font-top;
    }
}
.header__top__right{
    padding-top: 12px;
    display: inline-flex;
    position: absolute;
    right: 14px;
    p{
        color: $color-font-top; 
    }
    p.lock{
        padding-left: 30px;
    }
}

.header__bottom{
    display: inline-flex;
}

.header__bottom a{
    color: $color-black!important;
    font-weight: bold;
}

.header__bottom a:hover{
    color: $color-hover!important;
}

.header__bottom__logo{
    margin-top: 18px;
    margin-left: 14px;
}
.header__bottom__menu{
    position: relative;
    top: 12px;
    right: -15.3%;;
    width: auto;
    font-size: 14px;
}
.header__bottom__icon-search {
    position: absolute;
    right : 33em;
    top: 4.6em;
}
.header__bottom__icon-heart{
    position: absolute;
    right: 71.5px;
    top: 66.5px;
    a{
        font-size: 25px;
    }
}
.header__bottom__icon-cart{
    position: absolute;
    right: 13px;
    top: 71.5px;
    a{
        font-size: 25px;
    }
}

@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 52px!important;
        padding-left: .5rem;
    }
}
@media (max-width: 1390px){
    .header__bottom__menu{
        right: 0%;
    }
}

@media screen and (max-width: 1151px) and (min-width: 993px){
    .header__bottom__right{
        display: none;
    }
}
@media screen and (max-width: 1832px){
    .header__bottom__icon-search {
        position: absolute;
        right : 135px;
        top: 4.6em;
    }
}

@media screen and (max-width : 456px){
    .header__bottom__icon-search{
        display: none;
    }
    .header__bottom__icon-heart{
        display: none;
    }
    .header__bottom__icon-cart{
        display: none;
    }
}

@media screen and (max-width: 676px){
    .header__top{
        .header__top__right{
            display: none;
        }
        .header__top__left{
            font-size: 14px;
        }
    }
}

@media screen and (max-width:409px){
    .header__top{
            display: none;
    }
}
