$color-background-header-footer: #222222;
$color-font-top : #4d4d4d;
$color-black : #000000;
$color-hover : #8c70ba;
$color-slogan : #e1e1e1;
$color-white : #ffffff;
$color-checked : #face6d;
$color-star : #d1d1d1;
$color-price-now : #8262b5;
$color-price-discount : #999999;
$color-background-date : #a1d1dd;
$color-h5-footer : #f7f7f7;
$color-a-footer : #888888;
$color-hr-footer : #393939;
$color-heart-footer : #ff4628;
$color-banner-commernt : #dbdbdb;